doctype html
html
  head
    title Online Quiz System
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js")
   // script(type="text/javascript" src="/javascripts/client.js")
  body
    block content
