//Created by allan on 2015-11-28.
extends layout

block content
    .container.bodycenter
        h4.form-signin-heading Please Sign In
        form.form-signin(action="/signup", method="post")
            .input-field
                input(id="username", type="text", name="username")
                label(for="username") Email
            .input-field
                input(id="password", type="password", name="password")
                label(for="password") Password
            button.waves-effect.waves-light.btn.blue.darken-2(type="submit") Sign in




