//Created by abhinav on 2015-11-28.
extends layout
block content
    .container
        form
            .row
                .col.s12.m8.l8.push-l2
                    .row.center.bodycenter
                        h2 Midterm Test
                        p Each Question has one correct answer, you have been given an option to take 3 hints. Hint will tell you if your selected answer for a specific question is correct or not without penalization.
                        each val in data
                            .card-panel
                                .row
                                    .col.s10.m10.l10
                                        h6(id='#{val._id}') #{val.question}
                                        each response in val.responses
                                            p
                                                input(id="#", type="radio", name="q1", value="1")
                                                label(for="q1r1") This is option A
                    .row.center
                        button.waves-effect.waves-light.btn.blue.darken-2(type="submit") Submit
